.language-twig2 .token.twigVariable,
.language-twig2 .token.twigTag  {
  color: #FF961D;
}

.language-twig2 .token.twigTagName {
  color: #66d9ef;
}

.language-twig2 .twigKeywords {
  color: #f8f8f2;
}

.language-twig2 .twigFunction {
  color: #edb1dd;
}

.language-twig2 .twigFilter {
  color: #edbaff;
}
