.language-twig2 .token.twigVariable {
  color: #FF961D;
}

.language-twig2 .token.twigVariable .token.twigPunctuation {
  color: #FCE3C7;
}

.language-twig2 .token.twigFunction {
  color: #ffa0e2;
}

.language-twig2 .token.twigFunction .token.twigTagName {
  color: #66d9ef;
}

.language-twig2 .token.twigFunction .token.twigPunctuation,
.language-twig2 .token.twigFunction .token.twigKeywords {
  color: #CFF7FF;
}
